# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.pdb
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Build results
[Dd]ebug/
[Rr]elease/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Packages
*.nupkg
*.snupkg
packages/
# project.lock.json (for older .NET Core projects)
# project.fragment.lock.json (for older .NET Core projects)

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# Other
*.bak
*.cache
*.DS_Store
Thumbs.db