__pycache__/
.vscode
.env
secrets/*.crt
secrets/*.key
**/.venv
**/__pycache__
**/passwordfile

**/mosquitto/data/*
**/mosquitto/log/*

**/*.crt
**/*.srl
**/*.key
**/*.csr
**/*.pem

data/
temp_wavs/
logits.csv
model.pth
finetune.pth
mel_inputs.h